$saturation: #00aac9;
$saturationBg: rgba(0, 170, 201, 0.25);
$whitish: rgba(255, 255, 255, 0.7);
$paleBorder: rgba(255, 255, 255, 0.3);
$orange: #ff9d00;
$orangeBg: rgba(156, 96, 0, 0.75);

@function image-url($url) {
  @return unquote('url(' + '../../images/' + $url + ')')
}

@mixin linear-gradient($top_color, $bottom_color) {
  background: $top_color;
  background: -moz-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background: -webkit-linear-gradient(top, $top_color 0%, $bottom_color 100%);
  background: linear-gradient(to bottom, $top_color 0%, $bottom_color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2', GradientType=0);
}

@mixin xbtransition($property, $time) {
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -o-transition: $property $time;
  transition: $property $time;
}

* {
  box-sizing: border-box;
}

body {
  @include linear-gradient(#0073ba, #0088a1);
  margin: 0;

  &.waiting, &.waiting * {
    cursor: progress !important;
  }
}

::selection {
  background-color: $saturation;
}

a {
  text-decoration: none;
  @include xbtransition(color, 0.2s);
}

@mixin playfair($font_size, $line_height) {
  font: #{$font_size}/#{$line_height} 'Playfair Display';
  color: $whitish;
  letter-spacing: -$font_size/30;
  text-align: center;
}

@mixin hoverable($color) {
  &:hover {
    color: $color;
  }
}

h1 {
  @include playfair(60px, 60px);
  cursor: default;
  margin: 0;
}

h2 {
  @include playfair(30px, 37px);
  cursor: default;
  margin: 0;
}

#main {
  width: 100%;
  @include xbtransition(filter, 0.4s);

  &.inactive {
    filter: blur(15px);
  }
}

p.profile-key-readout {
  border: solid 1px $paleBorder;
  border-radius: 9px;
  background-color: $saturationBg;
  color: $whitish;
  font: 100 30px/50px Raleway;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  @include hoverable(white);
  @include xbtransition(color, 0.2s);
}

p.error {
  color: $orange;
  background-color: $orangeBg;
  border: solid 1px $paleBorder;
  border-radius: 9px;
  font: 400 14px/18px Raleway;
  text-align: center;
  padding: 16px 0;
  cursor: default;
  position: relative;
  pointer-events: none;
  display: none;

  &:after {
    content: ' ';
    display: block;
    width: 13px;
    height: 13px;
    background: image-url('cancel_orange@2x.png');
    background-size: 13px 13px;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    right: 13px;
    pointer-events: auto;
    cursor: pointer;
  }
}

.row.axes {
  label {
    display: block;
    font: 700 13px/13px Raleway;
    color: $whitish;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px $paleBorder;
    background-color: $saturationBg;
    color: $whitish;
    padding: 6px;
    border-radius: 4px;
    font: 13px/16px Raleway;

    @include xbtransition(all, 0.2s);

    &:hover {
      color: white;
    }

    &:focus {
      background-color: $saturation;
    }
  }
}

/*** RESPONSIVE ***/
@mixin small-screen {
  @media (all and max-width: 849px) {
    @content
  }
}

@mixin large-screen {
  @media (all and min-width: 1500px) {
    @content
  }
}

/*** GRID ***/

.row {
  width: 100%;
  display: block;
  clear: both;
  //background-color: rgba(255,255,255,0.1);

  .grid {
    display: block;
    //background-color: rgba(255,0,0,0.1);
    float: left;
    padding: 10px 50px;
    @include small-screen {
      padding: 10px 20px;
      width: 100% !important;
    }

    &.full {
      width: 100%;
    }
    &.half {
      width: 50%;
    }
    &.fifth {
      width: 20%;
    }
  }
}

/*** ACTION BUTTONS ***/
i.action {
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  &.small {
    width: 19px;
    height: 19px;
    background-size: 19px 19px;

    &.delete {
      background-image: image-url('minus_small@2x.png');
    }

    &.cancel {
      background-image: image-url('cancel_small@2x.png');
    }
  }

  &.large {
    margin-left: 14px;
    width: 37px;
    height: 37px;
    background-size: 37px 37px;

    &.add {
      background-image: image-url('plus_big@2x.png');
    }
  }
}

/*** PROFILE TABLE ***/
@mixin namefont() {
  font: 400 18px/18px Raleway;
  color: $whitish;
  @include xbtransition(color, 0.4s);
}

table.profile_list {
  width: 100%;
  margin-top: 20px;

  thead tr th {
    font: 700 14px/30px Raleway;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    cursor: default;

    &.header {
      cursor: pointer;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &.headerSortDown:after {
      background: image-url('sort_down@2x.png');
    }
    &.headerSortUp:after {
      background: image-url('sort_up@2x.png');
    }

    &.headerSortDown:after,
    &.headerSortUp:after {
      content: ' ';
      display: inline-block;
      width: 7px;
      height: 7px;
      background-size: 7px 7px;
      margin-left: 5px;
    }
  }
  tr {
    td {
      padding: 4px 6px 4px 0;

      @include namefont();

      &:nth-child(1) {
        width: 25px;
      }

      &:nth-child(n+3):nth-child(-n+7) {
        text-align: center;
        width: 10%;

        & input[type=text], input[type=number] {
          text-align: center;
        }
      }

      &:nth-child(8) {
        font-weight: 700;
        font-size: 12px;
        color: $saturation;
        cursor: default;
        white-space: nowrap;
        width: 1px;
      }

      input[type=text], input[type=number] {
        @include namefont();
        background-color: rgba(255, 255, 255, 0.25);
        border: solid 1px rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        width: 100%;
        height: 30px;
        padding: 6px;
      }
    }
  }

  &.editing {
    i.action.delete {
      display: none;
    }
    tr td {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

/*** PROFILE SET SELECTOR MODAL ***/
#profile_set_modal {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, .25);
  width: 100%;
  height: 100%;
  padding-top: 48px;
  top: 0;

  .row {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    @include playfair(24px, 24px);
  }

  input[type=text] {
    font: 100 48px/80px Raleway;
    color: $whitish;
    background-color: $saturationBg;
    border: solid 1px $paleBorder;
    border-radius: 9px;
    text-align: center;
    width: 310px;
    height: 80px;

    &:focus {
      outline: none;
    }
  }

  a {
    @include playfair(16px, 16px);
    @include hoverable(white);
  }

  p.note {
    font: italic 14px/18px 'Playfair Display';
    color: $whitish;
  }
}

/*** CANVAS ***/
.canvas-container {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 9px;

  @include large-screen {
    padding-bottom: 75%;
  }

  -webkit-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.20);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.20);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&0.1+0,0+50,0.1+100 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1affffff', endColorstr='#1affffff', GradientType=1); /* IE6-9 */
}
